html, body {
    font-size: 20px;
    background-color: white;
    height: 100%;
    overflow: auto;
}
.itemborder {
    /*margin-top:0.4rem;*/
    border: groove;
    border-color: #5191FD;
    border-width: 0.01rem;
}

.itemlabel {
    background-color: #fea900;
}

.itemtitle {
    color: white;
    background-color: #5191FD;
}

#signbody {
    display: none;
}

#signPer {
    padding-top: 0.2rem;
    line-break: auto;
    white-space: normal;
    padding-left: 0rem;
}


label {
    font-size: 0.75rem;
}

textarea {
    height: auto;
    overflow: auto;
    font-size: 0.75rem;
}

a {
    font-size: 0.75rem;
}
input {
    font-size:0.75rem;
}

.mui-bar {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#done.mui-disabled {
    color: gray;
}

li {
    font-size: 0.75rem;
}

.adl {
    background-color: #fea900;
}
.bgc {
    color: white;
    background-color: #6BA2D0;
}


.itemcontenttitle {
    color: white;
    background-color: #5BC254;
}
.illustration_context {
    text-align: center;
    font-size: 0.5rem;
}

.bottomborder {
    border: dashed;
    border-width: 0rem 0rem 0.02rem 0rem;
}

.illustration_context_extra {
    font-size: 0.3rem;
}
#signd div  > button {
   width:40%;
   height:2rem;
}